{% extends "base.html" %}

{% load static %}

{% block title %}
 {{ contact_information.title }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/contact.css' %}">
{% endblock %}
{% load static %}

{% block content %}
    <h1 class="contact-title">{{ contact_information.title }}</h1>

    <div class="main-contact">
            <p>
                Email me → 
                <a href="mailto:{% firstof contact_information.email '' %}">
                    {{ contact_information.email }}
                </a>
            </p>
            <p>
                <a href="{{ contact_information.upwork }}" target="_blank" rel="noopener noreferrer">Hire me on Upwork </a>
            </p>
            <p>
                <a href="{{ contact_information.github }}" target="_blank" rel="noopener noreferrer">Github </a>
            </p>
            <p>
                <a href="{{ contact_information.linkedIn }}" target="_blank" rel="noopener noreferrer">LinkedIn </a>
            </p>
        
    </div>
    

{% endblock %}