.project-card
{
  display: flex;
  flex-direction: column;
  flex: 0 1 19rem;           
  height: 100%;             
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,.2);
  color: white;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.project-container
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));          
  gap: 2rem;                
  margin-bottom: 2rem;

}