.project-card
{
  flex: 0 1 19rem;           
  height: 30rem;             
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,.2);
  color: white;
}

.project-container
{
  display: flex;
  flex-wrap: wrap;          
  gap: 2rem;                
  justify-content: flex-start;
}